@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form id="form" method="post">
        <input type="text" name="text" id="text"/>
        <button type="submit">Envoyer</button>
    </form>
    <ul id="content"></ul>
</div>
